{% extends "base.html" %}

{% block title %}Form Example{% endblock %}

{% block content %}
<h2>Enter Your Name</h2>
<form action="/submit" method="POST">
    <input type="text" name="username" placeholder="Your Name">
    <button type="submit">Submit</button>
</form>
<p>{{ get_flashed_messages() | join(', ') }}</p>

{% with message = get_flashed_messages() %}
{% if message %}
<ul>
    {% for msg in messages %}
    <li> {{msg}} </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% endblock %}